@use '../base/breakpoints'
@use '../base/colors'

$nav-duration: 0.25s

*
  box-sizing: border-box

html, body
  scroll-behavior: smooth
  padding: 0rem
  margin: 0rem
  height: 100%
  width: 100%

body
  pointer-events: none
  overflow-x: hidden
  overflow-y: scroll
  scrollbar-gutter: stable both-edges
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: stretch

  #main
    flex: 1 0 auto
    padding: 1rem
    width: 1100px
    display: flex
    flex-direction: column

    #header
      flex: 0 0 auto
      margin-top: 4rem

      #logo
        margin-bottom: -0.25rem

      @include breakpoints.md
        margin-top: 4rem

      @include breakpoints.sm
        margin-top: 3rem

      @include breakpoints.xs
        margin-top: 2rem

    #pages
      flex: 1 0 auto
      margin-block: 3rem 10rem
      transition: margin $nav-duration ease-out

      ul
        list-style: none
        padding: 0rem
        margin: 0rem

        .page
          padding: 0rem
          margin-block: 1.5rem
          display: flex
          flex-direction: column
          transition: margin $nav-duration ease-out, opacity $nav-duration ease-out

          .header
            display: inline-block
            transition: margin $nav-duration ease-out
            animation-name: header-in
            animation-duration: 1s
            animation-fill-mode: backwards
            animation-timing-function: ease-out
            animation-play-state: paused

            .link
              display: grid
              grid-template-rows: auto auto auto
              grid-template-columns: auto 1fr
              align-items: center

              .bullet
                grid-row: 1
                grid-column: 1
                flex: 0 0 auto
                width: 0.85rem
                height: 0.24rem
                margin-inline: 1rem
                background-color: colors.$key
                transition: width $nav-duration ease-out, margin-inline $nav-duration ease-out, opacity $nav-duration ease-out
                animation-name: bullet-in
                animation-duration: 1s
                animation-fill-mode: backwards
                animation-timing-function: ease-out
                animation-play-state: paused

                @include breakpoints.lg
                  width: 0.84rem

                @include breakpoints.md
                  width: 0.83rem

                @include breakpoints.sm
                  width: 0.8rem

                @include breakpoints.xs
                  width: 0.75rem
                  margin-inline: 0.75rem

              .title
                grid-row: 1
                grid-column: 2

              .subtitle
                grid-row: 2
                grid-column: 2

              .date
                grid-row: 3
                grid-column: 2

              .title, .subtitle, .date
                transition: font-size $nav-duration ease-out, margin $nav-duration ease-out

              .title, .subtitle
                margin-block: 0.175rem

                @include breakpoints.sm
                  margin-block: 0.2rem

                @include breakpoints.xs
                  margin-block: 0.225rem

              .date
                margin-block: 0.45rem

              &:hover

                .bullet
                  width: 0.75rem

                  @include breakpoints.lg
                    width: 0.74rem

                  @include breakpoints.md
                    width: 0.73rem

                  @include breakpoints.sm
                    width: 0.7rem

                  @include breakpoints.xs
                    width: 0.65rem

              &:active

                .bullet
                  width: 0.5rem

                  @include breakpoints.lg
                    width: 0.49rem

                  @include breakpoints.md
                    width: 0.48rem

                  @include breakpoints.sm
                    width: 0.45rem

                  @include breakpoints.xs
                    width: 0.4rem

          .body-holder
            opacity: 0
            transition: opacity $nav-duration ease-out

          &.expanded
            margin-top: 0rem

            .header
              margin-top: 0.1rem

              .link
                pointer-events: none
                opacity: 1

                .bullet
                  width: 0rem
                  margin-inline: 0rem
                  opacity: 0

                .title, .subtitle
                  margin-block: 0.25rem

                  @include breakpoints.sm
                    margin-block: 0.3rem

                  @include breakpoints.xs
                    margin-block: 0.35rem

                .date
                  margin-top: 0.6rem

            .body-holder
              opacity: 1

      &.expanded
        margin-block: 0rem 2rem

        .page
          pointer-events: none
          opacity: 0
          margin: 0rem

          &.expanded
            pointer-events: all
            opacity: 1

      @include breakpoints.lg
        margin-block: 2.9rem 9.5rem

      @include breakpoints.md
        margin-block: 2.8rem 9rem

      @include breakpoints.sm
        margin-block: 2.7rem 8.5rem

      @include breakpoints.xs
        margin-block: 2rem 8rem

    &.started-expanded

      #pages ul .page .header
        animation-name: none

        .link .bullet
          animation-name: none

    #footer
      flex: 0 0 auto
      margin-block: 3rem 8rem

      @include breakpoints.sm
        margin-bottom: 7rem

      @include breakpoints.xs
        margin-bottom: 6rem

    @include breakpoints.lg
      width: 920px

    @include breakpoints.md
      width: 720px

    @include breakpoints.sm
      width: 520px

    @include breakpoints.xs
      width: 100%

  a:target
    scroll-margin-top: 2rem

@keyframes bullet-in
  0%
    max-width: 0rem
  100%
    max-width: 0.85rem

@keyframes header-in
  0%
    opacity: 0
  100%
    opacity: 1
