$xsMaxWidth: 575px
$smMaxWidth: 767px
$mdMaxWidth: 991px
$lgMaxWidth: 1199px
$xlMaxWidth: 1399px

@mixin xs
  @media (max-width: $xsMaxWidth)
    @content

@mixin sm
  @media (max-width: $smMaxWidth)
    @content

@mixin md
  @media (max-width: $mdMaxWidth)
    @content

@mixin lg
  @media (max-width: $lgMaxWidth)
    @content
