@use './breakpoints'
@use './colors'

html
  scroll-behavior: smooth

#main
  padding: 7rem 1rem 6rem 1rem
  max-width: 1100px

  #logo
    margin-bottom: -0.25rem

  #title
    margin-top: 0rem
    margin-bottom: 1.7rem

  blockquote
    margin: 2rem
    margin-left: 1rem
    padding-left: 1rem
    border-left: 0.5rem solid colors.$mut

  #body
    margin: 5rem 0rem

  figure
    padding: 0rem
    margin: 2rem 0rem
    width: 100%

    video, img
      display: block
      width: 100%
      height: auto

    figcaption
      margin: 0.7rem 2rem 0rem 2rem

  .inline
    overflow: hidden
    width: 600px

    video, img
      object-fit: cover
      height: 400px

    figure
      margin: 0.4rem 0rem 0.4rem 0rem

  .inline[data-float="left"]
    float: left
    margin-right: 1.75rem

  .inline[data-float="right"]
    float: right
    margin-left: 1.75rem

  .inline[data-offset="left"]
    video
      object-position: left

  .inline[data-offset="right"]
    video
      object-position: right

  #footnotes
    margin: 5rem 0rem

    .footnote
      display: flex
      flex-direction: row
      gap: 0.8rem
      padding: 1rem 2rem 1rem 0rem
      border-radius: 0.25rem

      .footnote-head
        width: 1.5rem
        text-align: right

      .footnote-body
        flex: 1 0 0

        p, figure
          margin: 0rem

        figure
          max-width: 50%

  #credits
    margin: 2rem 2rem

    .credit
      margin-top: 0.7rem
      margin-bottom: 0.7rem

  #author
    margin-top: 6rem
    margin-bottom: 5rem
