@use "./breakpoints"
@use "./colors"
@use "./fonts"

*
  user-select: none

#main
  margin: auto
  color: colors.$key
  font-family: fonts.$body-norm
  font-size: 1rem

  em
    font-family: fonts.$body-emph

  #logo
    font-family: fonts.$logo
    font-size: 2.5rem
    text-align: left
    line-height: 1

  #title
    font-family: fonts.$head
    font-size: 2rem
    text-align: left
    hyphens: auto
    @media (min-width: breakpoints.$mdMinWidth)
      font-size: 2.5rem

  #body
    line-height: 1.65
    text-align: justify

  #author
    font-family: fonts.$logo
    color: colors.$mut
    text-align: center

  #footnotes
    font-size: 0.8rem
    line-height: 1.65
    text-align: justify

  #credits
    line-height: 1.65
    font-size: 0.6rem
    color: colors.$mut
    text-align: justify

  figcaption
    font-size: 0.7rem
    color: colors.$mut
    text-align: center

  a
    color: inherit
    text-decoration: none
