@use "./colors"
@use "./fonts"

#main
  margin: auto
  text-align: justify
  color: colors.$key
  font-family: fonts.$body-norm
  font-size: 1em
  line-height: 1.65

  em
    font-family: fonts.$body-emph

  #logo
    font-family: fonts.$logo
    font-size: 2.3em
    line-height: 1

  #title
    font-family: fonts.$head
    font-size: 2.3em
    hyphens: auto

  #author
    font-family: fonts.$logo
    color: colors.$mut
    text-align: center

  #footnotes
    font-size: 0.85em

  #credits
    font-size: 0.65em
    color: colors.$mut

  figcaption
    font-size: 0.85em
    color: colors.$mut
    text-align: center

  a
    color: inherit
    text-decoration: none
